# Auto detect text files and perform LF normalization
#*.pm linguist-detectable=false
# downloads/* linguist-detectable=false
*.pm linguist-language=Perl
html/chromejs/* linguist-vendored
html/chrometheme/* linguist-vendored
html/Strategy/* linguist-vendored
downloads/* linguist-vendored
* text=auto
